/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

body.admin.options.edit {
  .tab-content {
    margin-top: 25px;
  }
  table.option_values {
    tr.variant {
      td.actions {
        text-align: right;
        .form-inline {
          display: inline-block;
        }
      }
    }
  }
}
