/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.order {
  table.table-order {
    .order_item {
      td {
        vertical-align: middle;
      }
      .image img {
        max-width: 100px;
      }
      .options {
        .name {
          font-weight: bold;
        }
      }
      .price {
        white-space: nowrap;
      }
    }
    tfoot tr {
      font-weight: bold;
      .total {
        text-align: right;
      }
    }
  }
}
