/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.order {
  table.table-order {
    thead {
      .options {
        text-align: center;
      }
    }
    .order_item {
      td {
        vertical-align: middle;
      }
      .image img {
        max-width: 100px;
      }
      .options {
        dl {
          margin-bottom: 0px;
        }
      }
    }
    tfoot tr {
      font-weight: bold;
      .total {
        text-align: right;
      }
    }
  }
}
