/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

body {
  padding-top: 100px;

  .navbar-main {
    .navbar-header:after {
      clear: none;
    }
    .navbar-brand > img {
      height: 25px;
    }
    .navbar-bag {
      float: right;
      .bag {
        .badge {
          background-color: #777;
          font-size: 10px;
        }
      }
      .bag:hover,
      .bag:focus {
        .glyphicon {
          color: $brand-primary;
        }
        .badge {
          background-color: $brand-primary;
        }
      }
    }
  }
  // .navbar-main

  .container {
    padding-bottom: 15px;
  }
  // .container
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  body {
    .navbar-main {
      .navbar-bag {
        float: none;
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}
