.btn {
  color: #fff;
  border: none;
  border-radius: 0;
  background-color: #000000;
  transition: background-color 0.5s ease;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #fff;
  background-color: $brand-primary;
  transition: background-color 0.5s ease;
}
