/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
body.products.show .product {
  .name {
    margin: 0px;
    font-size: 20px;
    color: $header-text-color;
  }
  .reference {
    font-size: 18px;
  }
  .btn-back-to-products {
    background-color: white;
    transition: background-color 0.5s ease;
    color: #000000;
  }
  .btn-back-to-products:hover,
  .btn-back-to-products:focus,
  .btn-back-to-products.focus {
    color: #fff;
    background-color: $brand-primary;
    transition: background-color 0.5s ease;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  body.products.show .product {
    .name {
      font-size: 27px;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
